.persons-container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
}
.person-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
    /* background-color: rgba(46, 45, 45, 0.596); */
}