.persons-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
}
.person-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 5px;
    margin-left: 40px;
}