.person{
    margin-right: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.person img{
    width: 270px;
    height: 200px;
    border-radius: 12px;
}
.person img:hover{
    transform: scale(1.07);
}
.card-background{
    background-color: #fdfdfdab;
}